<div class="fishbox span6 offset3 text-center">
		<h1 class="custom-h1">
		
		Submit Your Pic
	</h1>

		
        <h2>
		<%= simple_form_for @pic do |f| %>

		<%= f. input :lesson, label: 'What Was the Lesson', placeholder: 'App, web, handling cold indoor weather' %>
		<%= f. input :emotion, label: 'How did you Feel', placeholder: 'great, awful, fantastic' %>
		<%= f. input :learned, label: 'What did you learn', placeholder: 'web app building, watching football secretly' %>
	

<%= f.button :submit, "save" , :class => 'btn btn large-warning' %>
		<% end %>

	</h2>
</div>